/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
    behaviors {

        gresc: grave_escape {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp ESC>, <&kp GRAVE>;
            mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
        };


        mo_1_3: mo_1_3 {
            compatible = "zmk,behavior-tap-dance";
            label = "MO_1_3";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&mo 3>;
        };

        mo_2_4: mo_2_4 {
            compatible = "zmk,behavior-tap-dance";
            label = "MO_2_4";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&mo 4>;
        };

    
    };
\

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp TAB        &kp Q  &kp W  &kp E     &kp R    &kp T           &kp Y      &kp U    &kp I         &kp O    &kp P     &kp BACKSPACE
&kp LEFT_CONTROL  &kp A  &kp S  &kp D     &kp F    &kp G                  &kp H      &kp J    &kp K         &kp L    &kp SEMI  &kp SINGLE_QUOTE
&kp LSHFT         &kp Z  &kp X  &kp C     &kp V    &kp B                  &kp N      &kp M    &kp COMMA     &kp DOT  &kp FSLH  &kp RSHFT
                                &kp LGUI  &mo_1_3  &kp SPACE     &kp ENTER  &mo_2_4  &kp LEFT_ALT
            >;
        };

        num-and-symbols {
            bindings = <
&gresc  &kp N1         &kp N2           &kp N3    &kp N4      &kp N5         &kp N6     &kp N7     &kp N8         &kp N9            &kp N0         &trans
&trans  &kp EXCL       &kp AT_SIGN      &kp HASH  &kp DOLLAR  &kp PERCENT    &kp MINUS  &kp EQUAL  &kp LS(PLUS)   &kp LBKT          &kp RBKT       &kp UNDER
&trans  &kp AMPERSAND  &kp KP_MULTIPLY  &kp LPAR  &kp RPAR    &kp PIPE       &kp LBRC   &kp RBRC   &kp LESS_THAN  &kp GREATER_THAN  &kp BACKSLASH  &trans
                                        &trans    &trans      &trans         &trans     &trans     &trans
            >;
        };

        nav {
            bindings = <
&gresc  &trans     &trans  &trans  &trans         &trans    &kp PAGE_UP      &kp HOME        &kp UP       &kp END      &trans  &trans
&trans  &trans     &trans  &trans  &kp K_REFRESH  &trans    &kp PAGE_DOWN  &kp LEFT    &kp DOWN     &kp RIGHT   &trans  &trans
&trans  &kp LG(X)  &kp LG(C)  &kp LG(V)  &trans         &trans    &trans                                 &trans                             &trans                       &trans                         &trans  &trans
                           &trans  &trans         &trans    &trans                                 &trans                             &trans
            >;
        };

        media {
            bindings = <
&gresc  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        keyboard {
            bindings = <
&bt BT_SEL 0 &bt BT_SEL 1  &bt BT_SEL 2 &bt BT_SEL 3  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                              &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};